<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <title>
         Inpainted Images
      </title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="static/styles/main.css">
   </head>
   <body>
               <!-- <img src="../static/tampered/output.jpg"> -->
      <div id="container">
         <div id="search_console">
            <div id="imresults">
               <br/>
               <table  align="center">
                  <thead>
                     <tr>
                        <th scope="col">Tampered/Non Tampered</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                              <td> {{ output }}</td>
                     </tr>
                  </tbody>
               </table>
               <br/>
               
               0 refers to non tampered images whereas 1 refers to as tampered image.
               
            </div>
         </div>
      <script type="text/javascript" src="static/scripts/lib/jquery-1.7.1.min.js"></script>
   </body>
</html>
